
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(196, 0, 0)">
  <div class="container">
      <a class="navbar-brand h1 mb-0 text-warning" [routerLink]="['#']">Marvel Heroes</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSite">
          <ul class="navbar-nav mr-auto smooth-scroll list-unstyled">
              <li class="nav-item">
                  <a class="nav-link text-warning" [routerLink]="['#']"><strong>Sobre</strong></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-warning" [routerLink]="['#']"><strong>Contato</strong></a>
              </li>
          </ul>
      </div>
  </div>
</nav>
